{% extends 'listing.html' %}

{% block title %}
    Edit User
{% endblock %}

{% block content %}

<h1>Edit User:</h1>

<form id="edit-user-form" action="/users/{{user.id}}/edit" method="POST">
    <p>First Name: <input name="first" type="text" value="{{user.first_name}}"></p>
    <p>Last Name: <input name="last" type="text" value="{{user.last_name}}"></p>
    <p>Image URL: <input name="image" type="url" value="{{user.image_url}}"></p>
    <a id="cancel-btn" href="/users/{{user.id}}">Cancel</a>
    <button type="submit" id="save-changes-btn">Save</button>
</form>

{% endblock %}